<%= render '/layouts/header' %>

<%= form_tag petfinder_search_path, method: 'get' do %>Zip Code:
  <%= select_tag :animal, options_for_select([ "barnyard", "bird", "cat", "dog", "horse", "pig", "reptile","smallfurry"])%>
  <%= text_field_tag :search,params[:search],{placeholder: 'enter your zip code here', class: 'searchfield', required:true} %>
  <%= submit_tag 'Search', class: 'search-btn'%>
  <% end %>
</div>
