<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="#" class="navbar-brand"></a>
    </div>
    <div>
    <ul class="nav navbar-nav">
      <li class="active"><a href='#'Home></a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li id="signup"><%= link_to "Sign Up", signup_path, id:'signup' %></li>

    </div>
    </nav>
    <link href = "style.css" />
    <p id="notice"><%= notice %></p>

    <h1> </h1>



    <div class ="container">
      <% @pets.each do |pet| %>
          <div class="col-md-4 petcontainer">
            <div class="column-img-container">
              <%= link_to image_tag(pet.image_url, class: 'img-responsive'),pet %>
            </div>
            <div class="description-container">
              <h2><%= pet.name %></h2>
              <p><%= pet.description %></p>
            </div>
          </div>
      <% end %>
    </div>



      <br>

      <%= link_to 'New Pet', new_pet_path %>
