
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a href="#" class="navbar-brand"></a>
    </div>
    <div>
    <ul class="nav navbar-nav">
      <li class="active"><Home><img src="images/getapetlogo.png" alt="logo" class = "logo"></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li id="signup"><%= link_to "Sign Up", signup_path, id:'signup' %></li>

    </div>
    </nav>
    <link href = "style.css" />
    <p id="notice"><%= notice %></p>

    <h1> </h1>


    <div class ="container">
      <div class = "row">
      </div>
      <td class =><% @pets.each do |pet| %></td>
      <div class = "column">
        <div class="col-md-4" id = "petcontainer">
          <td><%= link_to image_tag(pet.image_url, class: 'img-responsive'),pet %> </td>
          <td><%= pet.name %></td>

        </div>

      </div>
      <% end %>



      <br>

      <%= link_to 'New Pet', new_pet_path %>
