
    <p id="notice"><%= notice %></p>

    <h1> </h1>


    <div class ="container">
      <% @pets.each do |pet| %>
          <div class="col-md-4 petcontainer">
            <div class="column-img-container">
              <%= link_to image_tag(pet.image_url, class: 'img-responsive'),pet %>
            </div>
            <div class="description-container">
              <h2><%= pet.name %></h2>
              <p><%= pet.description %></p>
            </div>
          </div>
      <% end %>
    </div>



      <br>

      <%= link_to 'New Pet', new_pet_path %>
